a{
    text-decoration: none;
    color: #fff;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
.corPrincipal{
    background-color:#73B6B6;
}
.corFontePrincipal{
    color: #fff;
}
.corFonteSegundaria{
    color: #384F77;
}
.centraliza{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 15vh;
}
/*header CABEÇALHO*/
header{
    position: sticky;
    top: 0vh;
}
/*header ICONE*/
.caixaIcones{
    padding: 1%;;
}

.iconeMenu{
    text-align: end;
}

.icon{
    font-size: 3vh;
}
/*header ICONE*/
/*header CABEÇALHO*/

/* section Dados */
h1{
    padding: 2vh;
}

input{
    text-align: center;
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: 2vh 0vh;
}

button{
    background-color: #384F77;
    border: none;
    padding: 2vh 5vh;
    border-radius: 30px;
    margin-top: 2vh;
    width: 100%;
}

.ou{
    margin: 3vh;
}

.tel{
    margin-top: 2vh;
}
/* section Dados */