body{
    background-color:#73B6B6;
}
/*header CABEÇALHO*/

header{
    position: sticky;
    top: 0;
    background-color:#73B6B6;
}

.caixaIcones{
    padding: 1%;
}

.iconeMenu{
    text-align: end;
}

a{
    color: #000;
    text-decoration: none;
}
/*header CABEÇALHO*/

/* header PESQUISA*/
/* .caixaPesquisa{
    padding: 1%;
    background-color: #FFF;
    border-radius: 30px;
    margin: 0% 1%;
}

.btmPesquisa{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.textoPesquisa{
    width: 100%;
    border: none;
    background-color: none;
    outline: 0;
} */
/*header PESQUISA */

/*section LOGO*/
.logoHorizontal{
    max-height: 30vh;
    margin-top: -10vh;
    margin-bottom: -6vh;
}
.caixaLogo{
    display: flex;
    justify-content: center;
}
/*section LOGO*/

/*section ESCOLHAS*/

.escolhas{
}

.escolha{
    border-radius: 15px;
    width: 100%;
    width: 100%;
    margin: 1% 0%;
    padding: 5vh 0vh;
    color: #FFF;
    border-style: none;
}

.fotoMiniatura{
    background-size: cover;
    background-repeat: no-repeat;
}
/*section ESCOLHAS*/