/* body{
    background-color:#73B6B6; 

}*/

a{
    text-decoration: none;
    color: #000;
}

/*header CABEÇALHO*/
header{
    position: sticky;
    top: 0vh;
}
/*header ICONE*/
.caixaIcones{
    padding: 1%;
    background-color: #FFF;
}

.iconeMenu{
    text-align: end;
}

.icone{
    color: #FFF;
}

.lupa{
    color: #000;
}
/*header ICONE*/
/*header CABEÇALHO*/

/*section LOGO*/
.caixaLogo{
    display: flex;
    justify-content: center;
    margin-top: -6vh;
}

.logo{
    margin-top: 3vh;
    max-width: 320px;
}
/*section LOGO*/

/*section INFORMALÇÕES PRIMARIAS*/
/*section TITULO*/
.caixaTitulo{
    background-color: #73B6B6;
    border-radius: 30PX 30PX 0PX 0PX;
    display: flex;
    align-items: center;
    padding-top: 1vh;
    border-bottom: solid;
    border-width: 0px 0px 1px 0px;
}

.iconesEstrela{
    text-align: end;
}
/*section TITULO*/

/*section MAIS INFORMAÇÃO*/
.caixaInfo{
    background-color: #73B6B6;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 40px;
}

.caixaInfo button{
    margin-top: 1vh;
    border-radius: 5px;
    border: none;
    margin-bottom: 1vh;
}
/*section MAIS INFORMAÇÃO*/
/*section AVISO*/
.aviso{
    position: sticky;
    top: 5vh;
}

.caixaAviso {
    background-color: #ff8800;
    color: #FFF;
    padding: 1vh 0vh;
}

h2{
    font-size: 16px;
    text-align: center;
}
/*section AVISO*/
/*section INFORMALÇÕES PRIMARIAS*/

/*section PRODUTOS*/
/*PRODUTOS TITULO*/
.caixaTipo{
    background-color: #73B6B6;
    text-align: center;
    border-bottom: solid;
    border-width: 0px 0px 2px 0px;
}
/*PRODUTOS TITULO*/

/*PRODUTOS DESCRIÇÃO*/
.caixaDescricao{
    background-color: #73B6B6;
    border-bottom: solid;
    border-width: 0px 0px 2px 0px;
    padding-bottom: 3vh;
    padding-top: 1vh;
}

.ladoImagem{
    display: flex;
    justify-content: center;
}

.produtoFoto{
    max-width: 100%;
    padding-top: 2vh;
}

.ladoBotao{
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.botaoDesconto{
    background-color: #ff8800;
    border-radius: 15px;
    width: 10vh;
    border-width: 1px 0px 1px 0px;
}
/*PRODUTOS DESCRIÇÃO*/
/*section PRODUTOS*/