a{
    text-decoration: none;
    color: #000;
}
.corPrincipal{
    background-color: #DF8D2D;
}
.centraliza{
    align-items: center;
    justify-content: center;
    text-align: center;
}
/*header CABEÇALHO*/
header{
    position: sticky;
    top: 0vh;
}
/*header ICONE*/
.caixaIcones{
    padding: 1%;
    background-color: #FFF;
}

.iconeMenu{
    text-align: end;
}

.icone{
    color: #FFF;
}

.lupa{
    color: #000;
}
/*header ICONE*/
/*header CABEÇALHO*/

/*section LOGO*/
.caixaLogo{
    display: flex;
    justify-content: center;
    margin-top: -6vh;
    background-color: #FFF;
    border-radius: 0px 0px 30px 30px;
}

.logo{
    margin-top: 3vh;
    max-width: 320px;
}
/*section LOGO*/

/*section QRCODE*/
.qrcode{
    text-align: center;
    width: 100%;
    font-size: 40vh;
    color: #000;
}

button{
    border: none;
    width: 50%;
    border-radius: 5px;
    margin-bottom: 2vh;
    padding: 1vh 0vh;
}

.iconeCampartilhar{
    width: 100%;
    font-size: 7vh;
}
/*section QRCODE*/