a{
    text-decoration: none;
    color: #000;
}
.fundoPadrão{
    background-color: #73B6B6;
}
/*header CABEÇALHO*/
header{
    position: sticky;
    top: 0vh;
}
/*header ICONE*/
.caixaIcones{
    padding: 1%;
    background-color: #FFF;
}

.iconeMenu{
    text-align: end;
}

.icone{
    color: #FFF;
}

.lupa{
    color: #000;
}
/*header ICONE*/
/*header CABEÇALHO*/

/*section LOGO*/
.caixaLogo{
    display: flex;
    justify-content: center;
    margin-top: -6vh;
}

.logo{
    margin-top: 3vh;
    max-width: 320px;
}
/*section LOGO*/

/*section INFORMALÇÕES PRIMARIAS*/
/*section TITULO*/
.caixaTitulo{
    border-radius: 30PX 30PX 0PX 0PX;
    text-align: center;
    padding-top: 1vh;
    border-bottom: solid;
    border-width: 0px 0px 1px 0px;
}
/*section TITULO*/

/* INFORMALÇÕES RELEVAMTES */
/* INFORMALÇÕES PARTE 2 */
.alinharCaixa{
    display: flex;
    align-items: center;
    text-align: center;
}
/* INFORMALÇÕES PARTE 2 */

/* INFORMALÇÕES PARTE 3 */
.imagemMax{
    max-width: 10vh;
}

.iconeDinheiro{
    font-size: 7vh;
    color: #000;
}
/* INFORMALÇÕES PARTE 3 */

/* INFORMALÇÕES PARTE 4 */
.caixaLocal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconeLocal{
    text-align: center;
    width: 100%;
    font-size: 11vh;
    color: #000;
}
/* INFORMALÇÕES PARTE 4 */
/* INFORMALÇÕES RELEVAMTES */